.cant-read {
    word-spacing: 25px;
}

.bowling-pins {
    max-height: 50vh;
}

.back-color {
    background-color: #e0d5d5;
}

.border-box {
    border: 2px solid gray;
    box-shadow: 0px 0px 5px grey;
}

.header-size {
    font-size: 60pt;
    font-family: "delicious handrawn", cursive;
}